.body {
  min-height: 100%;
}

.content {
  display: grid;
  align-items: center;
  padding: 24px 50px;
  height: 480px;
  background-color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}
