.navbar {
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.ant-typography.navbar__logo-text {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0;
}

.dropdown-menu {
  display: none;
}

.ant-typography.ant-dropdown-link {
  color: white;
}

.large-menu {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .dropdown-menu {
    display: block;
    position: fixed;
    right: 20px;
  }

  .large-menu {
    display: none;
  }

  .ant-typography.navbar__logo-text {
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: 20px;
  }
}

