.navbar {
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-typography.navbar__logo-text {
  color: #fff;
  font-size: 2rem;
}

.navbar__links {
  flex-grow: 0.9;
}

@media (max-width: 320px) {
  .ant-typography.navbar__logo-text {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .ant-typography.navbar__logo-text {
    font-size: 10px;
  }
}