.navbar {
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo-text {
  color: #fff;
  font-size: 2rem;
}

.navbar__logo-link {
  color: #fff;
}

.navbar__links {
  flex-grow: 0.9;
}

@media (min-width: 320px) {
  .navbar__logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar__logo {
    display: block;
  }
}