.weather-card__content_input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-card__content_input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 5px;
}
