.weather-card {
  display: grid;
  align-content: center;
  min-height: 260px;
}

@media (max-width: 320px) {
  .content {
    display: grid;
    justify-content: center;
  }
  .weather-card {
    min-width: 300px;
  }
}

@media (max-width: 414px) {
  .content {
    display: grid;
    justify-content: center;
  }
  .weather-card {
    min-width: 300px;
  }
}
